.jumbotron{ 
    background-color: rgb(200,200,200);
}

.jumbotron h1 {
    font-family: "Graduate", sans-serif;
    color: rgb(78,42,132);
}

.sidebar img {
    width: 100%;
    max-width: 250px;
}

h2, h3 {
    font-family: "Graduate", sans-serif;
    color: rgb(255,255,255);
}

.timer {
    padding-top: 25px;
}

.trivia{
    height: 500px;
    background-image: url("../images/field.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.col-xs-3 img {
    width: 100%;
}

.img img{
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
    border: solid white 3px;
}

#a:hover {
    font-style: italic;
    color: rgb(78,42,132);
}

#b:hover {
    font-style: italic;
}
#c:hover{
    font-style: italic;
}

#d:hover{
    font-style: italic;
}

